{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% for game in games %}
                <div class="col-md-3 game-box">
                    <div class="game-title">
                        {{ game.name }}
                    </div>
                    <div class="game-img">
                        <img class="img-rounded" src="{{ imagepath ~ game.id }}.jpg" alt="">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

