# To get started with security, check out the documentation:
# http://symfony.com/doc/current/security.html
security:
    firewalls:
        frontend:
            pattern: ^/play/*
            provider: Users
            anonymous: ~
            form_login:
                login_path: login
                check_path: login_check
            logout:
                path: logout
        frontend:
            pattern: ^/admin
            provider: Admins
            anonymous: ~
            form_login:
                login_path: admin_login
                check_path: admin_login_check
            logout:
                path: admin_logout
    access_control:
        - { path: ^/play/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/play/register, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/play/*, roles: ROLE_USER }
        - { path: ^/admin/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin/register, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin*, roles: ROLE_ADMIN }
    providers:
        Users:
            entity: { class: AppBundle\Entity\Players, property: email }
        Admins:
            entity: { class: AppBundle\Entity\administrator, property: email }
    encoders:
        AppBundle\Entity\Players: bcrypt
        AppBundle\Entity\administrator: bcrypt
