{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1 class="text-center">Here are the points you made in our games {{ app.user.name }} !</h1>
        <div class="row">
        <ul class="thumbnails">
            {% for point in points %}
                <li class="span4 thumbnail col-md-2 col-sm-2">
                        <img src="{{ imagepath ~ point.id }}.jpg" alt="">
                        <div class="caption text-center">
                            <h4>{{ point.name }}</h4>
                            <p><strong>POINTS:</strong> <u>{{ point.sumPoints }}</u></p>
                        </div>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}