{% extends 'base.html.twig'%}


{% block body %}
    <h1 class="text-center">Register for FREE</h1>

    <div class="container">
        <div class="card card-container">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}