{% extends 'base.html.twig'%}


{% block body %}
    <h1 class="text-center">Register for FREE</h1>
    <div class="container form-reg">
    <div class="form-reg">
        <div class="row">
            {{ form(form) }}
        </div>
    </div>
    </div>
{% endblock %}