*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #DADFF7;
    padding-bottom: 35px !important;
}

.game-box{
    padding: 15px;
    text-align: center;
    color: white;
}

.card {
    text-align: center;
}

.card a {
    text-decoration: none;
    color: white;
}

.card a:hover {
    color: #2e6da4;
}

.container.form-reg {
    margin-top: 45px;
}

.search-text{
    margin-top:50px;
    background-color:#7dabdb;
    padding-top:60px;
    padding-bottom:60px;
}

.search-text .input-search{
    height:45px;
    width:400px;
    padding-left:20px;
    color:#333;
}

.search-text .btn-search{
    background-color:#7dabdb;
    border:1px solid #FFF;
    font-family:Roboto;
    color:#FFF;
    padding:11px 20px 11px 20px;
}

.search-text  .btn-search:hover{
    background-color:#FFF;
    color:#7dabdb;
}

.copyright{
    background-color:#f0f0f0;
}

.copyright p{
    font-family:Roboto;
    padding:15px 0 10px 0;
}

footer{
    background-color: #424558;
    position: fixed;
    bottom: 0 !important;
    left: 0;
    right: 0;
    height: 35px;
    text-align: center;
    color: #CCC;
    z-index: 99999;
}

footer p {
    padding: 10.5px;
    margin: 0px;
    line-height: 100%;
}

.fa.fa-facebook , .fa.fa-dropbox, .fa.fa-flickr , .fa.fa-github , .fa.fa-linkedin ,.fa,fa-tumblr ,.fa.fa-google-plus , .fa.fa-tumblr {
    color:#b1aca1;
    font-size:20px;
    padding:10px;
    margin-bottom:50px;
}

.fa.fa-facebook:hover , .fa.fa-dropbox:hover , .fa.fa-flickr:hover  , .fa.fa-github:hover  , .fa.fa-linkedin:hover  ,.fa,fa-tumblr:hover  ,.fa.fa-google-plus:hover  , .fa.fa-tumblr:hover  {
    color:#6794c2;
}

.project {
    margin-bottom: 30px;
    vertical-align: top;
    margin-right: 30px;
    float: left;
    cursor: pointer;
    width:100%;
}

.project figure {
    position: relative;
    display: inline-block;
}

.project figure img {
    width: 100%;
}
.btn-warning bnt-action{
    margin: 0% 0% auto;
}

figcaption .project-details {
    display: block;
    font-size: 16px;
    /*line-height: 33px;*/
    color: #000;
    /*height: 27px;*/
    width: 100%;
    margin: 0 auto 5px auto;
    /*margin-bottom: 5px;*/
    overflow: hidden;
}
.project figure:hover figcaption {
    background:#d81e05;
}
.project figure:hover figcaption .project-details {
    color: #fff;
}

figcaption .project-price {
    position: absolute;
    right: 15px;
    top: 12px;
    font-size: 22px;
    text-align: right;
    margin-top: 8px;
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;
}

figcaption .project-creator {
    font-size: 13px;
    color: #545454;
    display: block;
}

figcaption .project-creator {
    font-size: 13px;
    color: #545454;
    display: block;
}

.project figure .actions button {
    padding: 13px 20px;
    font-size: 16px;
    top: 32%;
    position: absolute;
    left: 50%;
    width: 90%;
    margin-left: -45%;
    line-height: 18px;
    letter-spacing: 1px;
}

.project figure:hover .actions {
    background-color: rgba(115,15,2,.8);
    top: 40%;
    font-size:1em;
    font-weight:700;
}

.project figure .actions {
    display: block;
    position: absolute;
    bottom: 0px;
    top: 70%;
    left:0;
    right:0;
    z-index: 1;
    opacity: 1;
    background-color: rgba(29,29,29,.5);
    -ms-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    color: white;
    font-size:1em;
    padding:2%;
    font-weight:bold;
    text-align:center;
}


@media (min-width: 992px) {
    .project figure .actions {
        top: 60%;
        left:0;
        right:0;
        font-size:1em;
        padding:2%;

    }
    .project figure:hover .actions {
        top: 50%;
        font-size:1em;
        padding-top:0%;
    }
}

@media (min-width: 1200px) {
    .project figure .actions {
        top: 70%;
        left:0;
        right:0;
        font-size:1em;
        padding:2%;
    }
    .project figure:hover .actions {
        top: 50%;
        font-size:1em;
    }
}

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}

.form-group {
    display: grid;
}